<div class="card-deck m-3">
    <div *ngFor="let project of projects" class="card">
        <img src="{{project.image}}" class="card-img-top" alt="{{project.title}}">
        <div class="card-body">
            <h5 class="card-title">{{project.title}}</h5>
            <p class="card-text">{{project.content}}</p>
            <a [href]="project.projectUrl" class="card-link" target="_blank" rel="noopener" rel="noreferrer">Link to project</a>
        </div>    
    </div>
</div>

<div class="m-3">
    <button class="btn btn-light" (click)="naviHome()">Navigate To Home</button>
</div>