/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './varible.scss';

* {
    font-family: $ssp-regular, "arial", sans-serif !important;
}

body {
    background-color: #60c5d3 !important;
}

a.nav-link {
    color: #fff;
    &-.active {
        color: #000;
    }    
}

a:hover {
    color: #000 !important;
}