<!-- <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs pt-5">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
          <app-home></app-home>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Projects</a>
      <ng-template ngbNavContent>
          <app-projects></app-projects>
      </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->

<ul class="nav nav-tabs mt-5">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active" >Projects</a>
  </li>
</ul>